/* Theme */

#switcher .theme-click {
    background-color: #069a97;
}


/*buttons*/

.btn-md:hover {
    background: #069a97;
    color: #fff;
}


/*owl corousel*/

.owl-theme .owl-controls .owl-nav [class*=owl-]:hover {
    background: #069a97;
}


/*navbar-scroll-custom*/

.navbar-scroll-custom {
    background: rgba(23, 173, 148, 0.95);
}

.navbar.navbar-scroll-custom {
    border-top: 4px solid #009688;
}

@media (min-width: 991px) {
    .navbar-nav li.active a,
    navbar-nav li.active a:focus,
    .navbar-nav li:focus a,
    .nav-item.active a {
        color: #4a77e4;
    }
}


/*header-bg*/

.header-bg:before {
    background: linear-gradient(45deg, #7e57c2 0%, #069a97 100%);
}

.header-buttons .btn-blue {
    background: #069a97;
}


/*service-img*/

.service-img span {
    color: #069a97;
}


/*feature-icon*/

.feature-icon {
    background-color: #069a97;
    border-color: rgb(210, 247, 241);
}

.feature-card:hover .feature-icon {
    background-color: rgb(210, 247, 241);
    border-color: #069a97;
}

.feature-card:hover .feature-icon span {
    color: #069a97;
}


/*footer*/

.footer {
    background: #069a97;
}


/*back-to-top*/

.back-to-top {
    background: #069a97;
}

.back-to-top:hover span,
.back-to-top:focus span {
    color: #069a97;
}