/* Theme */

#switcher .theme-click {
    background-color: #7aa93c;
}


/*buttons*/

.btn-md:hover {
    background: #7aa93c;
    color: #fff;
}


/*owl corousel*/

.owl-theme .owl-controls .owl-nav [class*=owl-]:hover {
    background: #7aa93c;
}


/*navbar-scroll-custom*/

.navbar-scroll-custom {
    background: rgba(122, 169, 60, 0.95);
}

.navbar.navbar-scroll-custom {
    border-top: 4px solid #8bc34a;
}

@media (min-width: 991px) {
    .navbar-nav li.active a,
    navbar-nav li.active a:focus,
    .navbar-nav li:focus a,
    .nav-item.active a {
        color: #4a77e4;
    }
}


/*header-bg*/

.header-bg:before {
    background: linear-gradient(45deg, #ff9800 0%, #7aa93c 100%);
}

.header-buttons .btn-blue {
    background: #7aa93c;
}


/*service-img*/

.service-img span {
    color: #7aa93c;
}


/*feature-icon*/

.feature-icon {
    background-color: #7aa93c;
    border-color: #eaf9d6;
}

.feature-card:hover .feature-icon {
    background-color: #eaf9d6;
    border-color: #7aa93c;
}

.feature-card:hover .feature-icon span {
    color: #7aa93c;
}


/*footer*/

.footer {
    background: #7aa93c;
}


/*back-to-top*/

.back-to-top {
    background: #7aa93c;
}

.back-to-top:hover span,
.back-to-top:focus span {
    color: #7aa93c;
}