/* Theme */

#switcher .theme-click {
    background-color: #0798bc;
}


/*buttons*/

.btn-md:hover {
    background: #0798bc;
    color: #fff;
}


/*owl corousel*/

.owl-theme .owl-controls .owl-nav [class*=owl-]:hover {
    background: #0798bc;
}


/*navbar-scroll-custom*/

.navbar-scroll-custom {
    background: rgba(7, 152, 188, 0.95);
}

.navbar.navbar-scroll-custom {
    border-top: 4px solid #39bedf;
}

@media (min-width: 991px) {
    .navbar-nav li.active a,
    navbar-nav li.active a:focus,
    .navbar-nav li:focus a,
    .nav-item.active a {
        color: #39bedf;
    }
}


/*header-bg*/

.header-bg:before {
    background: linear-gradient(45deg, #ff9800 0%, #0798bc 100%);
}

.header-buttons .btn-blue {
    background: #0798bc;
}


/*service-img*/

.service-img span {
    color: #0798bc;
}


/*feature-icon*/

.feature-icon {
    background-color: #0798bc;
    border-color: #d2defa;
}

.feature-card:hover .feature-icon {
    background-color: rgba(210, 222, 250, 0.5215686274509804);
    border-color: #0798bc;
}

.feature-card:hover .feature-icon span {
    color: #0798bc;
}


/*footer*/

.footer {
    background: #0798bc;
}


/*back-to-top*/

.back-to-top {
    background: #0798bc;
}

.back-to-top:hover span,
.back-to-top:focus span {
    color: #0798bc;
}