/* Theme */

#switcher .theme-click {
    background-color: #ff536d;
}


/*buttons*/

.btn-md:hover {
    background: #ff536d;
    color: #fff;
}


/*owl corousel*/

.owl-theme .owl-controls .owl-nav [class*=owl-]:hover {
    background: #ff536d;
}


/*navbar-scroll-custom*/

.navbar-scroll-custom {
    background: rgba(255, 83, 109, 0.95);
}

.navbar.navbar-scroll-custom {
    border-top: 4px solid #f11032;
}

@media (min-width: 991px) {
    .navbar-nav li.active a,
    navbar-nav li.active a:focus,
    .navbar-nav li:focus a,
    .nav-item.active a {
        color: #ff536d;
    }
}


/*header-bg*/

.header-bg:before {
    background: linear-gradient(45deg, #4372e3 0%, #ff536d 100%);
}

.header-buttons .btn-blue {
    background: #ff536d;
}


/*service-img*/

.service-img span {
    color: #ff536d;
}


/*feature-icon*/

.feature-icon {
    background-color: #ff536d;
    border-color: #f5a6b2;
}

.feature-card:hover .feature-icon {
    background-color: rgb(249, 228, 231);
    border-color: #ff536d;
}

.feature-card:hover .feature-icon span {
    color: #ff536d;
}


/*footer*/

.footer {
    background: #ff536d;
}


/*back-to-top*/

.back-to-top {
    background: #ff536d;
}

.back-to-top:hover span,
.back-to-top:focus span {
    color: #ff536d;
}